<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mais Saúde</title>
  <link rel="stylesheet" href="./stylesheet\pages\index_style.css">
  <link rel="stylesheet" href="./stylesheet/pages/partials/header_style.css">
</head>
<body>
    <%- include('partials/header_view.ejs')%>
  <main>
    
    <div class="content">
        <h1>Mais Saúde</h1>
        <section class="texto-base">
            <p>Facilitamos o acesso dos profissionais de saúde do IFCE ao seu local de trabalho. Encontre rapidamente todas as informações e recursos necessários para o seu dia a dia.e</p>
        </section>
        <a href="login" class="login-button-text">Entrar</a>
    </div>

    <div class="svg">
        <img class="medic-ilustration"href="medic" src="./assets/homepage/medic-ilustration.svg" alt="Ilustração de médicos">
    </div>

  </main>
  <script></script>
</body>
</html>